@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Play&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #fac80f;
  background: linear-gradient(90deg, #fac80f 0%, #fd1d1d 63%, #f42323 99%);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: red; }

.div {
  display: flex;
  background-color: red; }

nav {
  width: 90%; }

.navBar {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap; }
  .navBar li {
    list-style: none; }
    .navBar li a {
      display: flex;
      text-decoration: none;
      color: black;
      font-size: 20px; }
      .navBar li a:hover {
        color: yellow; }

main {
  min-height: 80vh; }
  main .portada img {
    border-radius: 50%;
    display: flex;
    width: 50%;
    box-shadow: -20px 10px 5px black; }
  main .portada {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background: #fac80f;
    background: linear-gradient(90deg, #fac80f 0%, #fd1d1d 63%, #f42323 99%); }
  main .videos {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    main .videos img {
      border-radius: 50%;
      width: 60%;
      box-shadow: 20px 10px 5px black; }
  main .biblio {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    main .biblio img {
      border-radius: 50%;
      width: 60%;
      box-shadow: 20px 10px 5px black; }
  main .redes {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    main .redes img {
      border-radius: 50%;
      width: 65%;
      height: 260px;
      box-shadow: 20px 10px 5px black; }
  main .eventos {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    main .eventos img {
      border-radius: 50%;
      width: 60%;
      box-shadow: 20px 10px 5px black; }
  main .titulo h1 {
    display: flex;
    flex-flow: row wrap;
    text-indent: 20px;
    text-shadow: 5px 5px 10px white;
    font-size: 30px;
    font-weight: 100px;
    background-color: red;
    border-radius: 50px;
    font-family: "Oswald", sans-serif; }
  main .info {
    letter-spacing: 1px; }
    main .info h2 {
      display: flex;
      justify-content: center;
      text-shadow: 5px 5px 10px red;
      height: 70px;
      flex-flow: row wrap;
      margin: 20px; }
    main .info p {
      display: flex;
      text-indent: 40px;
      color: #272626;
      height: 100px;
      flex-flow: row wrap;
      overflow: auto;
      margin: 20px;
      font-family: "Play", sans-serif; }
  main .prox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  main .descrip {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 70px; }
  main .not {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 70px; }
  main .spo {
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center; }
  main .live {
    display: grid;
    justify-content: center;
    flex-direction: center;
    align-items: end;
    grid-template-columns: ifr ifr ifr; }

footer {
  background-color: yellow;
  text-align: center;
  height: 50px;
  margin-top: auto;
  padding: 1em 0; }

.ult {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  height: 30px;
  text-align: center; }
